/* ######################################################################################################## */
 /*                                         IMC Footer                                                       */
 /* ######################################################################################################## */
 .site-footer {
    margin-top: 16px;
    padding-top: 16px;
}
.footer-container a {
    color: var(--foot-txt);
    display: block;
}
.footer-container a:hover {
    color: #43AD60;
}
.footer-container h2,
.footer-container h3 {
    margin: 0;
}
.footer-container h2 {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--foot-txt);
    display: block;
    padding: 0px  0px 0px 8px;
}
.footer-container h2:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    height: 1px;
    width: 60%;
    width: 120px;
    background-color: var(--foot-txt);
    opacity: 0.3;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1270px;
    margin: 0 auto;
    font-size: 0.8rem;
    padding-left: 12px;
    padding-right: 12px;
}
.footer-list {
    padding-top: 12px;
    padding-bottom: 8px;
}
.footer-list a {
    white-space: nowrap;
    padding-bottom: 8px;
}
.footer-list a i{
    width: 32px;
    text-align: center;
}
.logo-container img {
    display: block;
    width: 100px;
    height: 100px;
    position:relative;
}
.social {
    display: flex;
    padding-left: 4px;
    padding-top: 8px;
    font-size: 1.5rem;
}
.social a {
    padding: 0 16px 0 0;
}
.logo-container {
    display: flex;
    flex-direction: column;
    order: 3;
    padding-top: 16px;
    /* padding-bottom: 64px; */
    flex-basis: 30%;
    /* margin-top: -120px; */
    margin-left: 8px;
}
.darkButton {
    order: 5;
    padding-top: 24px;
    flex-basis: 35%;
    padding-left: 10px;
    /* margin-top: 20px; */
    padding-bottom: 64px;
}
@media only screen and (max-width: 300px){
    .darkButton {
        padding-left: 4px;
    }
}
.footer-first {
    order: 2;
    padding-top: 16px;
    flex-basis: 50%;
    // margin-right: 4px;
}
// @media only screen and (max-width: 380px){
//     .footer-first {
//         margin-right: 24px;
//     }
// }
.footer-middle {
    order: 1;
    padding-top: 16px;
    flex-basis: 50%;

}
.footer-end {
    order: 4;
    flex-basis: 50%;
}
.logo-img-footer{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--bg2);
    opacity: 0.8;
    transform: scale(.9);
    transition: 
        opacity 250ms ease-in;
}
.logo-img-footer::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #43ad5f;
    transform: scale(0.7);
    transition:
        box-shadow 300ms ease-in,
        transform 150ms ease-in;
}
.logo-img-footer:hover::before {
    transform: scale(1);
    box-shadow: 0 0 16px #43AD60;
}
.logo-img-footer:hover{
    opacity: 1;
}
.sub-footer {
    position: relative;
    height: 20px;
}
// .sub-footer:before{
//     content: '';
//     position: absolute;
//     bottom: 10px;
//     left: 5%;
//     width: 90%;
//     height: 1px;
//     background-color: var(--foot-txt);
//     opacity: 0.3;

// }

/* -------Footer Media Query */

@media only screen and (min-width: 741px) {
    .footer-container {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .logo-container {
        order: 1;
        padding-top: 24px;
        flex-basis: 20%;
        align-content: center;
        margin-top: 0;
    }
    .darkButton {
        order: 2;
        flex-basis: 20%;
        padding-top: 56px;
    }
    .footer-first {
        padding-top: 16px;
        order: 3;
        flex-basis: 20%;
    }
    .footer-middle {
        padding-top: 16px;
        order: 4;
        flex-basis: 20%;
        margin: 0;
    }
    .footer-end {
        padding-top: 16px;
        order: 5;
        flex-basis: 20%;
    }
}

@media only screen and (min-width: 1281px){
    
    .logo-container{
        margin-left: 48px;
        flex-basis: 15%;
    }
    .darkButton {
        margin-right: 60px;
        flex-basis: 25%;
    }
}