/*######################################################################################################### */
 /*                                           Scroll to top button                                           */
 /* ######################################################################################################## */
 .up-arrow {
    position: fixed;
    right: 16px;
    bottom: 56px;
    cursor: pointer;
    background: transparent;
    opacity: 0;
    transition: opacity 250ms ease-out;
}
.up-arrow i {
    font-size: 2.5rem;
}
.fa-arrow-circle-up {
    color: #cececeab;
}
.down-arrow {
    position: fixed;
    right: 16px;
    bottom: 12px;
    cursor: pointer;
    background: transparent;
    opacity: 1;
    transition: opacity 250ms ease-out;
}
.down-arrow i {
    font-size: 2.5rem;
}
.fa-arrow-circle-down {
    color: #cececeab;
}