/* ################################################################################################### */
 /*                                        Tabbed Page                                                  */
 /* ################################################################################################### */
 .page-template-tabs #primary.content-area {
    margin: 0;
    width: 75%;
}
.page-template-tabs #secondary.widget-area{
    width: 23%;
}
.minimalTabs {
    width: 100%;
}
.contents {
    padding: 8px 24px;
    min-height: 200px;
}
.darkTab {
    background: var(--bg1);
    color: var(--txt1);
}
.minimalTabs > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    font-weight: 600;
    padding: 0;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.minimalTabs > ul > li {
    display: block;
    padding: 0.6em 0.5em;
    position: relative;
    white-space: nowrap;
    flex-basis: 20%; 
    margin: 0 0 0 -4px;
}
.minimalTabs > ul > li:before, 
.minimalTabs > ul > li:after {
    opacity: 0;
    transition: opacity 200ms ease-out;
}
.minimalTabs > ul > li.ui-tabs-active:before, 
.minimalTabs > ul > li.ui-tabs-active:after {
    opacity: 1;
}
.minimalTabs > ul > li:before {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 2px 3px #43ad5f4f;;
    top: 50%;
    bottom: 0px;
    left: 5px;
    right: 5px;
    border-radius: 100px / 10px;
}
.minimalTabs > ul > li:after {
    content: "";
    background: #fafafa;
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    bottom: -6px;
    margin-left: -6px;
    transform: rotate(45deg);
    box-shadow: inset 3px 3px 3px #43ad5f4f, inset 1px 1px 1px #43ad5f4f;;
}
.minimalTabs > ul > li:focus {
    outline: none;
}
.minimalTabs > ul > li a {
    color: var(--txt1);
    text-decoration: none;
}
.minimalTabs > ul > li a:hover,
.minimalTabs > ul > li a:focus {
    color: #43AD60;
}  
.minimalTabs > ul > li a:focus {
    outline: none;
}
.minimalTabs > ul > li.ui-state-active a{
    color: #43AD60;
}
.minimalTabs > ul > li a span {
    position: relative;
    top: -0.5em;
}
.darkmode .minimalTabs > ul {
    border-bottom-color: rgba(255, 255, 255, 0.3);
}
.minimalTabs.dark > ul > li {
    background: var(--bg1);
}
.darkmode .minimalTabs > ul > li:before {
    box-shadow: 0 2px 3px #43ad5f4f;;
}
.darkmode .minimalTabs > ul > li:after {
background: var(--bg1);
box-shadow: inset 3px 3px 3px #43ad5f4f, inset 1px 1px 1px #43ad5f4f;;
}
// .darkmode .minimalTabs > ul > li a {
// color: var(--txt1);
// }
// .darkmode .minimalTabs > ul > li a:hover,
// .darkmode .minimalTabs > ul > li a:focus {
// color: #43AD60;
// }
@media only screen and (max-width: 530px){
    .minimalTabs {
        display: none;
    }
}