 /* ################################################################################################### */
 /*                                      Utilities                                                      */
 /* ################################################################################################### */
 .p-0 {
    padding: 0;
}
.m-0 {
    margin: 0;
}
.font-small {
    font-size: 12px;
}
.border {
    border: var(--border5);
}